:root {
    --light: ghostwhite;
    --dark: black;
    --light-accent: rgba(255, 140, 0, 0.25);
}

body {
    font-family: sans-serif;
    font-size: large;
    background-color: var(--light);
}

/* index style */

#startGame {
    width: 80%;
    max-width: 400px;
    margin: 1rem auto 0;
 }

 #startGame input {
    margin-top: 1rem;
    max-width: 10rem;
 }

/* scoreboard style */

table {
    width: 80%;
    max-width: 300px;
    margin: auto;
    border: 2px solid black;
    border-spacing: 0;
}

table caption {
    margin-bottom: 0.5rem;
}

th {
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

td {
    padding: 0.5rem;
    text-align: center;
}

table th:not(:nth-child(1)),td:not(:nth-child(1)) { 
    cursor: pointer;
}

#addTurn, #finishGame {
    width: 80%;
    max-width: 300px;
    margin: 1em auto 0;
    /* line-height: 1.5; */
}

#addTurn fieldset {
    border: 1px solid black;
    margin: 0;
}

#addTurn .grid-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat( auto-fit, minmax(4rem, 1fr) );
    justify-items: center;
}

#addTurn #actions {
    display: flex;
    justify-content: end;
    border: 1px solid black;
    border-top: 0;
}

#addTurn input[type=submit] {
    background-color: var(--light-accent);
    color: var(--dark);
    margin: 0;
    padding: 0.5rem 1rem;
    border-left: 1px solid black;
    text-decoration: underline var(--dark);
}

#finishGame h2 {
    text-align: center;
}

#finishGame table {
    width: 100%;
}

#finishGame #actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

#finishGame input[type=submit]:hover {
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid black;
    text-decoration: underline var(--dark);
}

/* #finishGame input[type=submit] {
    background-color: var(--light);
    color: var(--dark);
    margin: 0;
    padding: 0.5rem 1rem;
    border-top: 2px solid black;
    text-decoration: underline var(--dark);
} */

.button {
    border: 0;
    background: var(--dark);
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
}